# Adatbázis
DB_NAME=mfg
DB_USER=mfg
DB_PASSWORD=valtoztasd_meg_123

# Directus
DIRECTUS_SECRET=valtoztasd_meg_hosszu_random_string
ADMIN_EMAIL=valtoztasd_meg@email.hu
ADMIN_PASSWORD=valtoztasd_meg_456

# Ezt a Directus admin felületéről kell másolni első indítás után
# Settings > API Tokens > Create token (neve: astro, role: Public vagy egyedi)
DIRECTUS_TOKEN=
